<div>
  <p>
    My name is Omar Ayoub, and I'm a 4th year Computer Engineering student at the German University in Cairo
  </p>
  <p>
    I want to be Front End Developer, and I'm passionate about learning new technologies and building cool stuff. I mainly work in React, and am learning THREE.js for fun!
  </p>
  <p>
    In the future, I want to transition to being a full-stack developer, and maybe even a game developer!
  </p>
  <p>
    My hobbies include gaming, music, chess, gym, motorsport and more!
  </p>
  <p style="font-size: 12px;">
    I'm also double majoring in Music Technology at the American University in Cairo!
  </p>
</div>