a {
    margin-bottom: 8px;
    
    font-size: larger;
    text-decoration: none;
    color: inherit;
}
div {
    margin-top: 60%;
    display: flex;
    flex-direction: column;
    align-items: end;
}