<div>
  <a href="https://github.com/omar-yasser-ayoub/Spotify-Clone" target="_blank">
    Spotify Clone - <span class="smaller">React, Tailwindcss, Express.js, Spotify API</span>
  </a>
  <a href="https://github.com/omar-yasser-ayoub/JavaDB" target="_blank">
    JavaDB - <span class="smaller">Java, ANTLR</span>
  </a>
  <a href="https://github.com/omar-yasser-ayoub/The-Last-of-Us-Game" target="_blank">
    The Last Of Us Game - <span class="smaller">Java, JavaFX</span>
  </a>
  <a href="https://github.com/omar-yasser-ayoub/Donately" target="_blank">
    Donately - <span class="smaller">React, TailwindCSS, Google Maps API</span>
  </a>
  <a href="https://github.com/omar-yasser-ayoub/Advising-System-FullStack" target="_blank">
    Advising System - <span class="smaller">React, .Net</span>
  </a>
</div>
